/* よく使うフォント */
@import url("https://fonts.googleapis.com/css2?family=Princess+Sofia&family=Zen+Kaku+Gothic+Antique:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

/* よく使うカラー */
:root {
  --mainred: #930007;
  --mainblue: #05063c;
  --backbeige: #fffdf5;
  --koibackbeige: #f4e5d3;
  --koiblue: #1a2550;
  --bunblue: #213b60;
  --bunblack: #4f4141;
  --bunorange: #d1611b;
  --wakugreen: #43680d;
  /* 以下gold外中グラデ */
  --sotogold: #caa341;
  --nakagold: #edd63e;
  /* スムーススクロール設定 */
  scroll-behavior: smooth;
}

body {
  font-family: "M PLUS 1p";
  color: var(--bunblack);
  line-height: normal;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* メイン */
main {
  padding-bottom: 100px;
  padding-top: 172px;
  background-image: url(../img/index.img/backgroundimg2.png);
  background-size: cover;
  /* 背景画像をスクロールせずに固定 */
  background-attachment: fixed;
}

nav {
  @media (max-width: 992px) {
    display: none;
    padding-top: 50px;
  }
}

/* ナビゲーション */
nav ul {
  padding: 15px 10px;
  display: flex;
  justify-content: center;

  @media (max-width: 992px) {
    display: block;
  }
}

nav ul li {
  margin-left: 4px;
  margin-right: 4px;
  width: 170px;
  height: 58px;
  text-align: center;
  background: linear-gradient(90deg, #c4903c 0%, #ead13e 50%, #c4903c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid #c4903c;
  font-size: max(0.41vw, 12px);

  @media (max-width: 992px) {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ead13e;
    font-size: 20px;
  }
}

nav ul li a {
  display: inline-block;
  width: 100%;
  /* liと同じ高さ */
  line-height: 58px;
}

nav ul li:hover {
  background: var(--, linear-gradient(90deg, #caa341 0%, #edd63e 52.01%, #caa341 100%));
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;

  @media (max-width: 992px) {
    background: unset;
  }
}

nav ul li:hover a {
  color: #94661c;

  @media (max-width: 992px) {
    color: unset;
  }
}

/* モバイル時のハンバーガメニュー */
.hmenu {
  width: 55px;
  height: 55px;
  border: none;
  /* PCでは非表示設定（モバイル時の方でdisplay:flexにして表示する） */
  display: none;
  justify-content: center;
  align-items: center;
  background-color: unset;
  margin-left: auto;
  margin-right: 0;

  @media (max-width: 992px) {
    display: block;
  }
}

.hmenu span,
.hmenu span::before,
.hmenu span::after {
  width: 40px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  display: block;
  position: absolute;
  transition: 0.5s;
}

.hmenu.open span {
  background-color: unset;
}

.hmenu span::before {
  content: "";
  bottom: 12px;
}

.hmenu span::after {
  content: "";
  top: 12px;
}

/* 下:0, 回転:-135° */
.hmenu.open span::before {
  bottom: 0;
  transform: rotate(-135deg);
}

/* 上:0, 回転:135° */
.hmenu.open span::after {
  top: 0;
  transform: rotate(135deg);
}

/* 見出しの設定 */
.midashired {
  text-align: center;
  font-family: "Miltonian Tattoo", serif;
  color: var(--mainred);
  font-size: 35px;
}

/* 見出し下のタイトル設定 */
hgroup p {
  text-align: center;
  color: #213b60;
  font-size: 25px;
}

/* 外側の白い枠の共通の設定 */
.backbeige {
  margin-bottom: 90px;
  border-radius: 15px;
  background-color: var(--backbeige);
}

/* 内側の濃いベージュ枠の共通の設定 */
.koibackbeige {
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--koibackbeige);
}

.flex {
  display: flex;
}

/* スクロールすると、下からふわっと出現する設定 */
.fadein {
  transition: 1s ease-in-out;
  transform: translateY(50px);
  opacity: 0;
}

.fadein.on {
  transform: translateY(0);
  opacity: 1;
}

/* ーーーーー
フッター
ーーーーーー*/
footer {
  padding: 65px 20px 0 20px;
  background-image: url(../img/common.img/footer.svg);
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: var(--mainred);
  position: relative;
}

footer div {
  align-items: center;
}

footer p.logo {
  @media (max-width: 767px) {
    position: absolute;
    bottom: 0;
  }
}

footer div.flex:first-child {
  justify-content: space-evenly;

  @media (max-width: 767px) {
    display: block;
  }
}

footer div.snsflex {
  margin-bottom: 50px;

  @media (max-width: 767px) {
    text-align: center;
  }
}

footer div.snsflex p {
  font-family: "Miltonian Tattoo";
  font-size: max(1.82vw, 30px);
  color: #fff;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

footer div.snsflex ul {
  align-items: center;
}

footer div.snsflex ul li {
  margin: 0 8px;
}

footer div.companyicon {
  column-gap: 20px;
}

footer p.aboutcompany {
  margin-top: 65px;
  margin-bottom: 215px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}

footer p.copyright {
  width: fit-content;
  margin: 0 auto;
  color: var(--mainred);
  font-size: 12px;
}

/* ページトップボタン */
footer p.pagetop a {
  padding: 23px 15px;
  position: fixed;
  right: 0;
  bottom: 300px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid var(--backbeige);
  background-color: #4f754c;
  font-family: "Kaisei Opti";
  color: #fff;
  font-size: 25px;
  /* 縦書き設定 */
  writing-mode: vertical-rl;
  display: flex;

  /* モバイル時のページトップボタン */
  @media (max-width: 767px) {
    padding: 10px 15px;
    flex-direction: column-reverse;
    align-items: center;
    width: 80px;
    height: 80px;
    position: fixed;
    right: 30px;
    bottom: 45px;
    border-radius: 50%;
    font-size: 14px;
    writing-mode: unset;
  }
}

footer p.pagetop img {
  margin-bottom: 8px;

  @media (max-width: 767px) {
    margin-bottom: unset;
  }
}

@media (max-width: 767px) {
  footer span.none {
    display: none;
  }
}

/* section内のデコレーション設定 */
/* 雪飾り */
.snow {
  background-image: url(../img/common.img/decosnow.svg);
  background-repeat: no-repeat;
  background-position: center top 20px;
  background-size: 90% auto;
}

/* ぶら下げ飾り */
.ornament {
  background-image: url(../img/common.img/deco1.svg), url(../img/common.img/deco2.svg);
  background-repeat: no-repeat;
  background-position: top 0 left 5%, top 0 right 5%;
  background-size: 17% auto;
}
