/* よく使うフォント */
@import url("https://fonts.googleapis.com/css2?family=Princess+Sofia&family=Zen+Kaku+Gothic+Antique:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@500&display=swap");

/* よく使うカラー */
:root {
  --mainred: #930007;
  --mainblue: #05063c;
  --backbeige: #fffdf5;
  --koibackbeige: #f4e5d3;
  --koiblue: #1a2550;
  --bunblue: #213b60;
  --bunblack: #4f4141;
  --bunorange: #d1611b;
  --wakugreen: #43680d;
  /* 以下gold外中グラデ */
  --sotogold: #caa341;
  --nakagold: #edd63e;
  /* スムーススクロール設定 */
  scroll-behavior: smooth;
}

body {
  font-family: "M PLUS 1p";
  color: #4f4141;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* メイン */
main {
  padding-bottom: 100px;
  padding-top: 172px;
  background-image: url(../img/index.img/backgroundimg2.png);
  background-size: cover;
  /* 背景画像をスクロールせずに固定 */
  background-attachment: fixed;
}

/* ナビゲーション */
nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-left: 8px;
  margin-right: 8px;
  padding: 18px 0;
  width: 223px;
  text-align: center;
  font-size: 22px;
  background: linear-gradient(90deg, #c4903c 0%, #ead13e 50%, #c4903c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 3px solid #c4903c;
}

hgroup p {
  text-align: center;
  color: #213b60;
  font-size: 25px;
}

/* 外側の白い枠の九通の設定 */
.backbeige {
  margin-bottom: 90px;
  padding: 60px 85px 40px 85px;
  border-radius: 15px;
  background-color: var(--backbeige);
}

.koibackbeige {
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--koibackbeige);
}

.midashired {
  text-align: center;
  font-family: "Miltonian Tattoo", serif;
  color: var(--mainred);
  font-size: 35px;
}

.flex {
  display: flex;
}

/* フッター */
footer {
  padding: 20px;
  padding-top: 65px;
  background-image: url(../img/index.img/footer.svg);
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: var(--mainred);
}

footer p.aboutcompany {
  margin-bottom: 34px;
  line-height: 30px;
  color: #fff;
}

footer div.companyicon {
  margin-bottom: 256px;
  display: flex;
  column-gap: 20px;
}

footer p.copyright {
  width: fit-content;
  margin: 0 auto;
  color: var(--mainred);
  font-size: 12px;
}
