@import url(common.css);
/* ノートPC@media (max-width: 1199px)
文字折り返し限定tab@media (max-width: 991px)
スマホ横@media (max-width: 767px)
コピペセット */
/* 1199>738 */
/* 767>360; */
/* ーー
共通幅
ーーー */
/* 中身 */
.toicontainer,
select,
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 617px;
  margin-left: auto;
  margin-right: auto;
  /* in大阪326がギリ */
  @media (max-width: 767px) {
    width: 425px;
  }
  @media (max-width: 575px) {
    width: 326px;
  }
  @media (max-width: 389px) {
    width: 275px;
  }
}
/* ーーーー
各ブロック
ーーーーー */
.backbeige {
  padding: 60px 50px 78px 50px;
  @media (max-width: 1199px) {
    padding: 60px 30px 78px 30px;
    @media (max-width: 767px) {
      padding: 35px 15px 53px 15px;
    }
    /* iPhone8の為のやつ */
    @media (max-width: 388px) {
      padding: 35px 5px 53px 5px;
    }
  }
}
hgroup {
  margin-bottom: 20px;
  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}
main article.contact aside.futoji {
  margin-left: 18px;
  margin-right: 17px;
}
.toicontainer {
  margin: 43px auto 0 auto;
  @media (max-width: 767px) {
    margin: 35px auto 0 auto;
  }
}
/* form box 下※の注意書き */
aside.tyuui {
  margin-top: 10px;
}
/* 各入力３点セット */
div.nyuryoku3 {
  margin-top: 50px;
  margin-bottom: 10px;
  align-items: center;
}

/* 必須任意の枠 */
.box {
  padding: 5px 20px;
  margin-right: 10px;
  color: var(--backbeige);
  border-radius: 5px;
}
.red {
  background-color: var(--mainred);
}
dd.blue {
  background-color: var(--koiblue);
}
/* 記入欄 */
select,
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  height: 3em;
  padding-left: 10px;
  border-radius: 5px;
  border: 3px solid #d4b577;
}
/* アウトライン:なし */
#area_l,
main input[type="text"],
main input[type="email"],
main input[type="tel"],
main textarea {
  outline: none;
}

textarea {
  height: 220px;
  margin-bottom: 50px;
}
/* 同意セット */
@media (max-width: 767px) {
  br.none767 {
    display: none;
  }
}
div.doui {
  /* inputボタンが親に指令じゃないと左右中央ならん */
  text-align: center;
}
input[type="checkbox"] {
  margin-top: 15px;
}
input[type="submit"] {
  margin-top: 38px;
  padding: 18px 50px 18px 51px;
  border: 3px solid #c3a80d;
  border-radius: 10px;
  font-family: "Kaisei Opti";
  font-size: 20px;
  color: var(--backbeige);
  background-color: var(--koiblue);
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--hoverblue);
}
