@import url(common.css);
/* ーーーー
ヘッダー
ーーーー */
header {
  padding: 15px 0 15px 0;
  background-color: var(--mainred);
}

/* ーーーー
メインFD共通
ーーーーー */
/* ーー
マップ
ーーー */
/* figma通りに外余白付けると変になる */
/* main article p.map {
margin: 0 79px 26px 81px;
} */
/* ーーーーーーーー
FD共通アーティクル
ーーーーーーーーー */
main article {
  margin-bottom: 90px;
}
h1 {
  margin-bottom: 7px;
}
/* これ青文字 */
main hgroup {
  &.map {
    margin-bottom: 19px;
  }
  &.FandD {
    margin-bottom: 30px;
  }
  &.GandW {
    margin-bottom: 50px;
  }
}
/* オレンジ国文字 */
main article h2 {
  height: 77px;
  margin-bottom: 20px;
  align-items: center;
  color: var(--bunorange);
  font-family: "Kaisei Opti";
  font-size: 25px;
  text-align: center;
  background-image: url(../img/FandD.img/kuniback.png);
  background-repeat: no-repeat;
  background-position: center;
}
/* ーーーーーー
FD共通セクション
ーーーーーーー */
main article section {
  background-image: url(../img/FandD.img/ornamentNoRed.png);
  background-repeat: no-repeat;
  background-position: left 26px top 20px;
  padding: 29px 25px 31px 25px;
}
main article section h3 {
  margin-left: 91px;
}
main article section div {
  gap: 38px;
  margin: 27px 25px 31px 25px;
  text-align: center;
}
main article section div figure figcaption {
  margin-top: 14px;
}
/* ーーーーーー
FD共通フィギュア
ーーーーーーー */
figcaption {
  line-height: 1.5em;
}
