@import url(common.css);
/* ーーーーーー
下層ページ共通、になりそう（まだなってない）
ーーーーーーー */
.koibackbeige:last-child {
  margin-bottom: unset;
}
.flexborn767 {
  display: inherit;
  @media (max-width: 767px) {
    display: flex;
  }
}
.mojileft {
  text-align: left;
}
.moji23 {
  @media (max-width: 767px) {
    font-size: 23px;
  }
}
.moji21 {
  @media (max-width: 767px) {
    font-size: 21px;
  }
}
.moji20 {
  @media (max-width: 767px) {
    font-size: 20px;
  }
}
/* 消えたけどどこかで使う */
.orikaesan {
  @media (min-width: 1200px) and (max-width: 768px) {
    white-space: nowrap;
  }
}
/* ノートPC@media (max-width: 1199px)
文字折り返し限定tab@media (max-width: 991px)
スマホ横@media (max-width: 767px)
コピペセット */
/* 1199>738 */
/* 767>360; */
/* ーーーーーーーーーー
メイン共通アーティクル
ーーーーーーーーーーーー */
main article.backbeige {
  &:first-child {
    padding: 60px 80px;
    @media (max-width: 767px) {
      padding: 60px 11px 60px 12px;
    }
  }
  &:not(:first-child) {
    padding: 60px 40px 47px 40px;
    @media (max-width: 767px) {
      padding: 60px 15px 30px 15px;
    }
  }
}
h1 {
  margin-bottom: 7px;
}
/* これ青文字 */
main article hgroup {
  &.shop,
  &.FandD {
    margin-bottom: 30px;
  }
  &.map,
  &.GandW {
    margin-bottom: 20px;
  }
}
/* ーーーー
会場マップ
ーーーーー */
main article.map ul {
  margin-bottom: 70px;
  gap: 30px;
  justify-content: center;
  @media (max-width: 767px) {
    gap: 11px;
    flex-wrap: wrap;
  }
}
li.goods {
  @media (max-width: 767px) {
    /* 19-gap11=8px */
    margin-bottom: 8px;
  }
}
main article.map ul li {
  width: 155px;
  height: 45px;
  padding: 10px 17px 13px 18px;
  border-radius: 10px;
  background-color: #de9115;
  box-shadow: 0 0 0 3px #de9115;
  border: 2px dashed var(--koibackbeige);
  color: var(--koibackbeige);
  font-size: 15px;
  white-space: nowrap;
  text-align: center;
  background-image: url(../img/FandD.img/sitasankaku_off.png);
  background-repeat: no-repeat;
  background-position: center bottom 4px;
  @media (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}
main article.map ul li:hover {
  background-color: var(--koibackbeige);
  box-shadow: 0 0 0 3px var(--koibackbeige);
  border: 2px dashed #de9115;
  color: #de9115;
  background-image: url(../img/FandD.img/sitasankaku_on.png);
}
/* ーーーーーーーー
FDGW共通セクション
ーーーーーーーー */
/* オーナメント123abc */
main article section.koibackbeige {
  background-repeat: no-repeat;
  background-position: left 26px top 20px;
  background-size: 30px 38px;
}
main article.FandD section.koibackbeige {
  background-image: url(../img/FandD.img/ornamentNoRed.png);
}
main article.goods section.koibackbeige {
  background-image: url(../img/FandD.img/ornamentAbcBlue.png);
}
main article.workshop section.koibackbeige {
  background-position: left 22px top 30px;
  background-image: url(../img/FandD.img/WorkShop.png);
}
/* hgroup */
main article section hgroup.flex {
  align-items: baseline;
}
p.no,
p.abc {
  color: var(--backbeige);
  font-size: 22px;
  margin-right: 21px;
}
p.no {
  font-family: "Kaisei Opti";
}
p.abc {
  font-family: "Miltonian Tattoo", serif;
  /* 31-25 */
  margin-left: 6px;
}
p.abci {
  /* 36-25 */
  margin-left: 11px;
}
h3 {
  margin-right: 12px;
  font-weight: bold;
}
/* FDG青文字から本文に戻す */
p.none {
  color: var(--bunblack);
  font-size: 16px;
  @media (max-width: 767px) {
    margin-top: -2px;
    /* テキレと合わせ技じゃないと左にならん63-25=38 */
    margin-left: 38px;
    text-align: left;
  }
}
hgroup h3,
article.workshop h3 {
  font-size: 25px;
  font-weight: 700;
}
/* セクションタイトルフレボ＆画像フレボ */
section > hgroup.flex {
  @media (max-width: 767px) {
    display: block;
  }
}
section > div.flex {
  @media (max-width: 767px) {
    justify-content: center;
  }
}
/* ーーーーーーーー
FDG共通セクション
ーーーーーーーーー */
main article.FandD section div.flex,
main article.goods section div.flex {
  justify-content: space-between;
  gap: 38px;
  @media (max-width: 1199px) and (min-width: 768px) {
    gap: 5px;
  }
  @media (max-width: 767px) {
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
/* ーーーーーーーーーーーーーー
FD共通アーティクル＆セクション
ーーーーーーーーーーーーーーー */
/* 国の名前 */
h2 {
  width: 368px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 450px) {
    width: 100%;
    margin-left: unset;
    margin-right: unset;
  }
}
/* セクション */
main article.FandD section.koibackbeige {
  padding: 25px 25px 31px 25px;
  @media (max-width: 767px) {
    padding-top: 25px 31px 32px 31px;
  }
}

main article.FandD section hgroup {
  margin-bottom: 20px;
  /* 34-25 */
  margin-left: 9px;
  &.no2 {
    /* 29-25 */
    margin-left: 3px;
  }
  &h3 {
    margin-right: 12px;
  }
}
main article.FandD section div.flex {
  text-align: center;
}
main article section div figure figcaption {
  margin-top: 14px;
}
/* FD共通フィギュア */
figcaption {
  white-space: nowrap;
  @media (max-width: 991px) {
    white-space: normal;
  }
}
figcaption.mojilefttab {
  @media (max-width: 991px) and (min-width: 768px) {
    text-align: left;
  }
}
br.borntab {
  display: none;
  @media (max-width: 991px) and (min-width: 768px) {
    display: inline;
  }
}
/* ーー
グッズ
ーーー */
main article.goods section.koibackbeige {
  padding: 30px 25px 22px 24px;
  @media (max-width: 767px) {
    padding-top: 30px 3px 33px 14px;
  }
  & hgroup {
    margin-bottom: 18px;
  }
  & > p {
    margin-bottom: 15px;
  }
  & div.flex img {
    width: 254px;
    height: 170px;
  }
}
/* ーーーーーー
ワークショップ
ーーーーーーー */
main article.workshop section h3 {
  /* 左余白68-25=43 */
  margin-left: 43px;
  &.snowdome {
    margin-bottom: 19px;
  }
  &.hana {
    margin-bottom: 22px;
  }
}
.mb1_5em {
  margin-bottom: 1.5em;
}
.flex6em {
  flex-basis: 6em;
}
.flex7em {
  flex-basis: 7em;
}
.flexauto {
  flex: auto;
}
/* スノードーム */
main article.workshop section.snowdome {
  padding: 34px 22px 50px 22px;
  @media (max-width: 767px) {
    padding: 33px 8px 50px 9px;
  }
  & > div.flex {
    gap: 21px;
  }
}
/* キャンドルフラワーアレンジ */
main article.workshop section.hana {
  padding: 33px 25px 50px 24px;
  & > div.flex {
    gap: 16px;
  }
}

/* 続きはbrボーンづくり */
