@import url(common.css);
/* ーーーー
ヘッダー
ーーーー */
header {
  padding: 15px 0 15px 0;
  background-color: var(--mainred);
}
/* ーーーーーーーーーーー
FDメイン共通アーティクル
ーーーーーーーーーーーーー */
main article.backbeige {
  &:first-child {
    padding: 60px 80px 26px 80px;
  }
  &:not(:first-child) {
    padding: 60px 40px 37px 40px;
  }
}
h1 {
  margin-bottom: 7px;
}
/* これ青文字 */
main hgroup {
  &.map {
    margin-bottom: 19px;
  }
  &.FandD {
    margin-bottom: 30px;
  }
  &.GandW {
    margin-bottom: 50px;
  }
}
/* ーーーーーー
FDGW共通hgroup
ーーーーーーーー */
hgroup.flex {
  gap: 12px;
  align-items: center;
  & p.none {
    text-align: unset;
    color: var(--bunblack);
    font-size: unset;
  }
}
hgroup h3,
article.workshop h3 {
  font-size: 25px;
  font-weight: 700;
}
/* ーーーーーーーー
FD共通セクション
ーーーーーーーーーー */
/* 国の名前 */
h2 {
  width: 368px;
  margin-left: auto;
  margin-right: auto;
}
main article section.koibackbeige {
  padding: 30px 25px;
}
main article section.koibackbeige {
  background-repeat: no-repeat;
  background-position: left 26px top 20px;
  background-size: 30px 38px;
}
main article.FandD section.koibackbeige {
  background-image: url(../img/FandD.img/ornamentNoRed.png);
}
main article.goods section.koibackbeige {
  background-image: url(../img/FandD.img/ornamentAbcBlue.png);
}
main article.workshop section.koibackbeige {
  background-image: url(../img/FandD.img/WorkShop.png);
}
main article section.koibackbeige hgroup.flex p {
  &.no,
  &.abc {
    color: var(--backbeige);
    font-size: 22px;
    margin-right: 21px;
  }
  /* &.no2 {
    } */
}
main article.FandD section.koibackbeige hgroup.flex p {
  font-family: "Kaisei Opti";
}
main article.goods section.koibackbeige hgroup.flex p {
  font-family: "Miltonian Tattoo", serif;
}
main article section hgroup {
  /* 30-23 */
  margin-top: -7px;
  /* 34-25 */
  margin-left: 9px;
  &h3 {
    margin-right: 12px;
  }
}
main article section div.flex {
  margin-top: 27px;
  text-align: center;
}
main article section div figure figcaption {
  margin-top: 14px;
}
/* ーーーーーー
FD共通フィギュア
ーーーーーーー */
figcaption {
  white-space: nowrap;
}
/* ーーーーーーーーーーーーーーーー
グッズ＆ワークショップ共通セクション
ーーーーーーーーーーーーーーーーーー */
article.goods div.flex,
article.workshop div.flex {
  text-align: left;
}
