@import url(common.css);

/* ーーーー
ヘッダー
ーーーー */
header {
  padding: 15px 0 15px 0;
  background-color: var(--mainred);
}

main article {
  padding: 60px 40px 110px 40px;
}

main article hgroup {
  margin-bottom: 85px;
}

main article section {
  position: relative;
}

main article section.aboutartist {
  background-image: url(../img/performance.img/akamaru.svg), url(../img/performance.img/akamaru.svg), url(../img/performance.img/akamaru.svg), url(../img/performance.img/akamaru.svg);
  background-repeat: no-repeat;
  background-position: top 15px left 15px, top 15px right 15px, bottom 15px left 15px, bottom 15px right 15px;
}

main article section.aboutartist div {
  padding: 85px 80px 66px 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px 30px;
  justify-content: center;
}

main article section h3 {
  padding: 20px 80px;
  position: absolute;
  top: -46px;
  left: 250px;
  background-image: url(../img/performance.img/titlelabel.png);
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Kaisei Opti";
  font-size: 35px;
  letter-spacing: -3.5px;
  color: var(--backbeige);
}

main article section figcaption {
  margin-top: 8px;
  font-weight: bold;
  text-align: center;
}

/* ーーーーー
テーブル
ーーーーーーー */
main article section.schedule {
  margin-top: 150px;
}

/* テーブルタイトル */
main article section.schedule h3 {
  position: absolute;
  top: -100px;
  padding: 20px 112px;
}

main article section.schedule div.artisttable {
  margin-bottom: 28px;
  overflow: auto;
  /*　横スクロール設定 */
  -webkit-overflow-scrolling: touch;
  height: 750px;
}

table {
  border-spacing: 10px 0;
  border-collapse: separate;
}

/* 一列目の日付のセルの設定 */
table thead tr {
  position: sticky;
  /* 日付固定配置 */
  top: 0;
}

table thead tr th.date {
  position: relative;
  padding: 30px 90px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-family: "Mate SC";
  font-size: 25px;
  color: var(--backbeige);
}

table thead tr span.posi {
  position: absolute;
  /* 12月の固定配置 */
  top: 5px;
  left: 55px;
}

table thead tr span.fontbig {
  position: absolute;
  /* 日の固定配置 */
  top: 10px;
  left: 84px;
  font-size: 40px;
}

table thead tr th.green {
  background-color: #374312;
}

table thead tr th.purple {
  background-color: #644374;
}

table thead tr th.yellow {
  background-color: #d79d47;
}

table thead tr th.koiorange {
  background-color: #922c14;
}

table thead tr th.blue {
  background-color: #2e406a;
}

table thead tr th.red {
  background-color: #b6151a;
}

table tbody tr {
  height: 80px;
}

/* 一行目の時間のセルの設定 */
table tbody tr th.time {
  padding: 80px 21px;
  z-index: 1;
  position: sticky;
  /* 時間固定配置 */
  top: 60px;
  left: 0;
  background-color: #8c3a33;
  border-bottom: 1px solid #fff;
  vertical-align: middle;
  font-size: 25px;
  color: var(--backbeige);
}

table tbody tr td {
  position: sticky;
  top: 60px;
  background-color: #dcd0c7;
  font-weight: bold;
  font-size: 13px;
}

/* タイムテーブルがあるセルの背景色、ボーダー設定 */
table tbody tr td.seruback div {
  margin: 10px 10px 0 10px;
  padding: 3px 0 10px 5px;
  background-color: #ededed;
}

table tbody tr td.green div {
  border: 2px solid #374312;
}

table tbody tr td.purple div {
  border: 2px solid #644374;
}

table tbody tr td.yellow div {
  border: 2px solid #d79d47;
}

table tbody tr td.koiorange div {
  border: 2px solid #922c14;
}

table tbody tr td.blue div {
  border: 2px solid #2e406a;
}

table tbody tr td.red div {
  border: 2px solid #b6151a;
}

/* タイムテーブルのセル内の時間の色 */
table tbody td span.green {
  color: #374312;
}

table tbody td span.purple {
  color: #644374;
}

table tbody td span.yellow {
  color: #d79d47;
}

table tbody td span.koiorange {
  color: #922c14;
}

table tbody td span.blue {
  color: #2e406a;
}

table tbody td span.red {
  color: #b6151a;
}

/* PDFボタンの設定 */
p.pdfbtn {
  position: relative;
}

p.pdfbtn a {
  display: flex;
  align-items: center;
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 51px;
  border-radius: 15px;
  background-color: #CC3D24;
  color: var(--backbeige);
}