@import url(common.css);

/* ーーーー
ヘッダー
ーーーー */
header {
  padding: 10px;
  background-color: var(--mainred);
}

main article {
  padding: 60px 40px 110px 40px;

  @media (max-width: 767px) {
    padding: 60px 15px;
  }
}

main article hgroup {
  margin-bottom: 85px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

main article section {
  position: relative;
}

main article section.aboutartist {
  background-image: url(../img/performance.img/akamaru.svg), url(../img/performance.img/akamaru.svg), url(../img/performance.img/akamaru.svg), url(../img/performance.img/akamaru.svg);
  background-repeat: no-repeat;
  background-position: top 15px left 15px, top 15px right 15px, bottom 15px left 15px, bottom 15px right 15px;
}

main article section.aboutartist div {
  padding: 10px 0 66px 0;
  flex-wrap: wrap;
  gap: 25px 30px;
  justify-content: center;
}

main article section h3 {
  padding: 20px 0;
  transform: translate(0, -50%);
  background-image: url(../img/performance.img/titlelabel.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: max(35%, 250px);
  font-family: "Kaisei Opti";
  text-align: center;
  font-size: max(1.25vw, 25px);
  letter-spacing: -3.5px;
  color: var(--backbeige);

  @media (max-width: 767px) {
    transform: translate(0, -100%);
  }
}

@media (max-width: 767px) {
  main article section figure {
    margin-bottom: 15px;
  }
}

main article section figcaption {
  margin-top: 8px;
  font-weight: bold;
  text-align: center;
}

/* ーーーーーーーーーーーー
モバイル時のタブ切り替え設定
ーーーーーーーーーーーーーー*/
main article ul {
  display: none;

  @media (max-width: 767px) {
    padding: 22px 0;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 11px;
  }
}

@media (max-width: 767px) {
  label[for="tabartist"],
  label[for="tabschedule"] {
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #25244e;
    box-shadow: 0 0 0 3px #25244e;
    border: 2px dashed #fff;
    font-size: 14px;
    color: var(--backbeige);
  }

  /* タブを選択したときの設定 */
  input:checked + label {
    background-color: #d3c6da;
    box-shadow: 0 0 0 3px #d3c6da;
  }

  main article section.tabschedule {
    display: none;
  }

  /* ラジオボタンを消す */
  main article ul input {
    display: none;
  }
}

/* ーーーーー
テーブル
ーーーーーーー */
main article section.schedule {
  margin-top: 150px;

  @media (max-width: 767px) {
    margin-top: 0;
  }
}

main article section.schedule div.artisttable {
  margin-bottom: 28px;
  overflow: auto;
  /* 横スクロール設定 */
  -webkit-overflow-scrolling: touch;
  height: 750px;
}

table {
  border-spacing: 10px 0;
  border-collapse: separate;
}

/* 一列目の日付のセルの設定 */
table thead tr {
  position: sticky;
  /* 日付固定配置 */
  top: 0;
}

table thead tr th.date {
  position: relative;
  padding: 30px 90px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-family: "Mate SC";
  font-size: 25px;
  color: var(--backbeige);
}

table thead tr span.posi {
  position: absolute;
  /* 12月の固定配置 */
  top: 5px;
  left: 55px;
}

table thead tr span.fontbig {
  position: absolute;
  /* 日の固定配置 */
  top: 10px;
  left: 84px;
  font-size: 40px;
}

table thead tr th.green {
  background-color: #374312;
}

table thead tr th.purple {
  background-color: #644374;
}

table thead tr th.yellow {
  background-color: #d79d47;
}

table thead tr th.koiorange {
  background-color: #922c14;
}

table thead tr th.blue {
  background-color: #2e406a;
}

table thead tr th.red {
  background-color: #b6151a;
}

table tbody tr {
  height: 80px;
}

/* 一行目の時間のセルの設定 */
table tbody tr th.time {
  padding: 80px 21px;
  z-index: 1;
  position: sticky;
  /* 時間固定配置 */
  top: 60px;
  left: 0;
  background-color: #8c3a33;
  border-bottom: 1px solid #fff;
  vertical-align: middle;
  font-size: 25px;
  color: var(--backbeige);
}

table tbody tr td {
  position: sticky;
  top: 60px;
  background-color: #dcd0c7;
  font-weight: bold;
  font-size: 13px;
}

/* タイムテーブルがあるセルの背景色、ボーダー設定 */
table tbody tr td.seruback div {
  margin: 10px 10px 0 10px;
  padding: 3px 0 10px 5px;
  background-color: #ededed;
}

table tbody tr td.green div {
  border: 2px solid #374312;
}

table tbody tr td.purple div {
  border: 2px solid #644374;
}

table tbody tr td.yellow div {
  border: 2px solid #d79d47;
}

table tbody tr td.koiorange div {
  border: 2px solid #922c14;
}

table tbody tr td.blue div {
  border: 2px solid #2e406a;
}

table tbody tr td.red div {
  border: 2px solid #b6151a;
}

/* タイムテーブルのセル内の時間の色 */
table tbody td span.green {
  color: #374312;
}

table tbody td span.purple {
  color: #644374;
}

table tbody td span.yellow {
  color: #d79d47;
}

table tbody td span.koiorange {
  color: #922c14;
}

table tbody td span.blue {
  color: #2e406a;
}

table tbody td span.red {
  color: #b6151a;
}

/* PDFボタンの設定 */
p.pdfbtn {
  position: relative;
}

p.pdfbtn a {
  display: flex;
  align-items: center;
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 51px;
  border-radius: 15px;
  background-color: #cc3d24;
  color: var(--backbeige);
}

/* indexとq&a.htmlにも記入している為どちらも消してcommonに書く */
.container,
.backbeige {
  @media (max-width: 1199px) {
    width: 738px;

    @media (max-width: 767px) {
      width: 360px;
    }
  }
}
