@import url(common.css);

/* ーーーー
ヘッダー
ーーーー */
main article {
  padding: 60px 125px;

  @media (max-width: 1190px) {
    padding: 60px 15px;
  }
}

main article hgroup {
  margin-bottom: 50px;
}

/* ーーーー
タブ切り替え
ーーーーーー */
main article ul {
  display: flex;
  gap: 10px;
  color: var(--bunblack);

  @media (max-width: 767px) {
    display: block;
  }
}

main article li {
  flex: 1;
}

main article label {
  display: block;
  cursor: pointer;
}

/* タブの設定 */
label[for="tab1"],
label[for="tab2"],
label[for="tab3"] {
  margin-bottom: 15px;
  padding: 15px 10px;
  background-color: var(--mainred);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-family: "Kaisei Opti";
  color: var(--backbeige);
  font-size: 25px;
}

/* タブを選択したときの設定 */
input:checked+label {
  border-bottom: 5px solid var(--mainred);
  background-color: var(--koibackbeige);
  color: var(--bunblack);
}

main article label[for="tab2"] {
  padding: 8.5px 21px 8.5px 10px;
  font-size: 17px;
}

main article section.tab2,
main article section.tab3 {
  display: none;
}

/* ラジオボタンを消す */
main article ul input {
  display: none;
}

main article section.koibackbeige {
  padding: 55px 30px 0 30px;
  border: 2px solid var(--mainred);

  @media (max-width: 767px) {
    padding: 45px 10px 5px 10px;
  }
}

main article dl {
  margin-bottom: 60px;
  font-size: 18px;

  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}

main article dl dt {
  padding: 0 10px 0 60px;
  position: relative;
  font-weight: bold;

  @media (max-width: 767px) {
    padding: 0 0 0 50px;
  }
}

main article dl dd {
  padding: 10px 10px 20px 60px;
  position: relative;

  @media (max-width: 767px) {
    padding: 10px 0 20px 50px;
  }
}

main article dl dt::before,
main article dl dd::before {
  position: absolute;
  left: 0;
  top: 6;
  width: 41px;
  height: 41px;
  border-radius: 25px;
  text-align: center;
  line-height: 200%;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

main article dl dt:before {
  content: "Q";
  background-color: var(--mainred);
}

main article dl dd:before {
  content: "A";
  background-color: var(--koiblue);
}

main article dt div {
  padding: 15px;
  border: 1px dashed #895725;
}

main article dd div {
  padding: 15px;
  background-color: #ded5bf7d;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


/* index.htmlにも記入している為どちらも消してcommonに書く */
.container,
.backbeige {
  @media (max-width: 1199px) {
    width: 738px;

    @media (max-width: 767px) {
      width: 360px;
    }
  }
}