@import url(common.css);

body {
  position: relative;
}

/* トップページだけmain上下余白が違う */
main {
  padding-bottom: 100px;
  padding-top: 172px;

  @media (max-width: 991px) {
    padding-top: 100px;
  }
}

/* ーーーー
ヘッダー
ーーーー */
header {
  padding-top: 10%;
  background-image: url(../img/index.img/mainimg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: 767px) {
    background-image: url(../img/index.img/iphonemainimg.png);
  }
}

header div.maintitle {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: #f5f3f0;

  @media (max-width: 767px) {
    margin-top: 140px;
  }
}

header div.flex {
  display: block;

  @media (max-width: 991px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

header p:first-child {
  font-family: "Tempus Sans ITC";
  font-size: max(2vw, 26px);
}

header h1 {
  margin: 30px 0;
  font-family: "Princess Sofia", cursive;
  font-size: max(5vw, 50px);

  @media (max-width: 991px) {
    margin: 5px 0;

    @media (max-width: 767px) {
      margin: 10px 0;
    }
  }
}

header p:last-child {
  padding-bottom: 15%;
  font-family: "Princess Sofia", cursive;
  font-size: max(4vw, 45px);

  @media (max-width: 767px) {
    padding-bottom: 258px;
  }
}

/* PC表示の時のトップページ */
header nav ul {
  @media (min-width: 992px) {
    position: sticky;
    top: 0;
    z-index: 1000;
    clip-path: unset;
  }
}

.hmenu {
  @media (max-width: 991px) {
    position: fixed;
  }
}

/* 外側の白い枠の共通の設定 */
section {
  padding: 60px 125px 40px 125px;

  @media (max-width: 767px) {
    padding: 50px 15px 50px 15px;
  }
}

main section.news h2 {
  margin-bottom: 25px;
}

main section.news dl div {
  padding: 20px 23px;

  @media (max-width: 767px) {
    padding: 15px 12px;
  }
}

main section.news dl dt {
  padding-bottom: 10px;
  font-family: "Miltonian Tattoo", serif;
  font-size: 20px;
}

/* hgroup,h2共通設定 */
hgroup {
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 10px;
}

/* section共通の薄ピンクの枠の設定 */
main section.event dl.day,
main section.event dl.free,
main section.event dl.place,
main section.event dl.access,
main section.event section.magcup div {
  padding: 40px 80px;
  flex-wrap: wrap;
  background-color: var(--koibackbeige);
  border-radius: 10px;

  @media (max-width: 1190px) {
    padding: 40px 45px;
    display: block;
    flex-wrap: nowrap;

    @media (max-width: 767px) {
      padding: 20px 15px 20px 15px;
    }
  }
}

main section.event dl dt {
  color: #4f4141;
  font-size: 20px;
  font-weight: bold;

  @media (max-width: 1190px) {
    margin-bottom: 10px;
    text-align: center;
  }
}

main section.event dl {
  margin-bottom: 20px;
}

main section.event dl.day,
main section.event dl.access {
  column-gap: 75px;
}

main section.event dl.day div,
main section.event dl.place dd,
main section.event dl.access dd {
  @media (max-width: 1190px) {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

main section.event dl.day dd:first-child {
  margin-bottom: 20px;
  font-weight: bold;
  color: #213b60;
  font-size: max(1vw, 20px);

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

main section.event dl.day dd:nth-child(2) {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: max(0.7vw, 18px);

  @media (max-width: 767px) {
    margin-bottom: 5px;
  }
}

main section.event dl.free {
  column-gap: 250px;
}

main section.event dl.free dd,
main section.event dl.place dd,
main section.event dl.access dd {
  color: #213b60;
  font-size: max(0.7vw, 15px);
}

main section.event dl.free dd {
  font-weight: bold;
  font-size: 28px;

  @media (max-width: 1190px) {
    text-align: center;
  }
}

main section.event dl.place {
  column-gap: 116px;
}

main section.event dl.access dd {
  margin-bottom: 33px;
}

main section.event dl.access p:last-child {
  width: 100%;
  text-align: center;
}

/* 元の設定 */
/* main div.market {
  padding: 125px 0;
  background-image: url(../img/index.img/ChristmasMarket.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
/* 背景画像をスクロールせずに固定 */
/* background-attachment: fixed;
} */

/* クリスマス背景固定設定（iPhoneではbackground-attachment:fixedが使えない） */
main div.market {
  padding: 130px 0;
  position: relative;
  height: auto;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(0);
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/index.img/ChristmasMarket.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* ここまで */

main div.market section.aboutxmas {
  padding-bottom: 60px;
}

main div.market section.aboutxmas h2 {
  margin-bottom: 55px;
  font-weight: bold;

  @media (max-width: 767px) {
    margin-bottom: 20px;
    font-size: 25px;
  }
}

main div.market section.aboutxmas p {
  line-height: 28px;
  font-size: 18px;
}

main section.magcup hgroup p {
  font-family: "Kaisei Opti";

  @media (max-width: 767px) {
    font-size: 15px;
  }
}

main section.magcup div {
  padding: 18px 30px;
  margin: 30px 0;
  column-gap: 30px;
  justify-content: center;
  border: 3px solid #c3a80d;
  border-radius: 10px;
  background-color: var(--bunblue);

  @media (max-width: 991px) {
    display: block;
    padding: 15px;
    margin: 20px 0;
  }
}

main section.magcup div p {
  font-family: "Miltonian Tattoo";
  font-size: max(1.25vw, 22px);
  color: var(--backbeige);
}

span.fontkaisei {
  font-family: "Kaisei Opti";
  font-size: max(1.5vw, 18px);

  @media (max-width: 991px) {
    margin-right: 10px;

    @media (max-width: 767px) {
      margin-right: 0;
    }
  }
}

span.font18 {
  font-size: 18px;
}

/* ーーーーーーーーーーーー
値段横のカップアイコン設定
ーーーーーーーーーーーーーー */
main section.magcup div img {
  margin-right: 5px;

  @media (max-width: 767px) {
    margin-right: 10px;
  }
}

main section.magcup span.br {
  @media (max-width: 767px) {
    display: inline-block;
  }
}

main section.magcup p.change {
  margin-bottom: 20px;
  font-weight: bold;
  text-align: left;
  font-size: max(0.41vw, 16px);
  color: var(--bunblue);
}

main section.magcup ul li {
  margin-bottom: 15px;
  list-style-type: disc;
  font-weight: bold;
  margin-left: 1.5em;

  @media (max-width: 767px) {
    margin-left: 18px;
  }
}

main section.magcup aside {
  margin: 40px 0;
}

main section.magcup aside p {
  margin-bottom: 10px;
  text-align: left;

  @media (max-width: 767px) {
    margin-left: 0px;
  }
}

main p.yoyaku {
  margin-bottom: 42px;
}

main section.specialoffers {
  padding-left: 55px;
  padding-right: 55px;

  @media (max-width: 767px) {
    padding-left: 18px;
    padding-right: 18px;
  }
}

main section.specialoffers div.flex {
  justify-content: center;
  font-weight: bold;

  @media (max-width: 1190px) {
    display: block;
  }
}

main section.specialoffers div.otoku {
  margin-top: 42px;
  padding: 0 20px;
  border-right: 2px dashed #b64b15;
  /* 右側に縦線 */

  @media (max-width: 1190px) {
    padding: 0;
    border-right: unset;
    text-align: center;

    @media (max-width: 767px) {
      margin-top: 0;
      text-align: left;
    }
  }
}

main section.specialoffers div.otoku:first-child {
  @media (max-width: 1190px) {
    padding-bottom: 54px;
    margin-bottom: 54px;
    border-bottom: 2px dashed #b64b15;
  }
}

main section.specialoffers div.otoku:last-child {
  border-right: none;
  /* 最後のアイテムには縦線を表示しない */
}

main section.specialoffers div.otoku p:nth-child(2) {
  max-width: 380px;
  margin-top: 31px;
  margin-bottom: 10px;
  color: var(--mainred);

  @media (max-width: 1190px) {
    max-width: unset;
  }
}

main section.specialoffers div.otoku aside {
  margin-bottom: 20px;
}

main section.specialoffers div.tenpo {
  margin-left: auto;
  margin-right: auto;
  padding: 21px 0;
  border-radius: 15px;
  background-color: #d7c8a4;
  text-align: left;
}

main section.specialoffers div.tenpo1 {
  max-width: 320px;
}

main section.specialoffers div.tenpo2 {
  max-width: 350px;
}

main section.specialoffers div.otoku p.sitamargin {
  margin-bottom: 28px;
}

main section.specialoffers h3 {
  padding-left: 22px;
}

main section.specialoffers div.tenpo1 ul,
main section.specialoffers div.tenpo2 ul {
  margin-left: 1.5em;
  padding: 7px 16px 0 16px;
  list-style-type: disc;
}

main section.specialoffers div.tenpo2 li:first-child {
  margin-bottom: 15px;
}

main section.specialoffers span.font14 {
  font-weight: normal;
  font-size: 14px;
}

main section.caution {
  margin-bottom: 0;
  border: 6px solid var(--wakugreen);
}

main section.caution ul li {
  padding-left: 5px;
  margin-bottom: 34px;
  list-style-image: url(../img/index.img/listicon.svg);
  line-height: 25px;

  @media (max-width: 767px) {
    margin-left: 18px;
  }
}

br.mobilebr {
  display: none;

  @media (max-width: 1190px) {
    display: block;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

br.mobilebr2 {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}
