@import url(common.css);

body {
  font-family: "M PLUS 1p";
  color: #4f4141;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/* ヘッダー */
header {
  padding-top: 320px;
  background-image: url(../img/index.img/mainimg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header div.maintitle {
  text-align: center;
  color: #f5f3f0;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

header p:first-child {
  font-size: 45px;
}

header h1 {
  margin: 30px 0;
  font-family: "Princess Sofia", cursive;
  font-size: 110px;
}

header p:last-child {
  padding-bottom: 320px;
  font-family: "Princess Sofia", cursive;
  font-size: 80px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-left: 8px;
  margin-right: 8px;
  padding: 18px 0;
  width: 223px;
  text-align: center;
  font-size: 22px;
  background: linear-gradient(90deg, #c4903c 0%, #ead13e 50%, #c4903c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 3px solid #c4903c;
}

nav ul li a {
  text-decoration: none;
}

/* メイン */
main {
  padding-bottom: 100px;
  padding-top: 172px;
  background-image: url(../img/index.img/backgroundimg2.png);
  background-size: cover;
  /* 背景画像をスクロールせずに固定 */
  background-attachment: fixed;
}

/* 外側の白い枠の九通の設定 */
main section.news,
section.event,
section.aboutxmas,
section.mugcup,
section.caution {
  margin-bottom: 90px;
  padding: 60px 85px 40px 85px;
  border-radius: 15px;
  background-color: #fffdf5;
}

main h2 {
  margin-bottom: 25px;
  font-family: "Miltonian Tattoo", serif;
  color: #930007;
  font-size: 35px;
  text-align: center;
}

main section.news dl div {
  padding: 20px 35px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #f4e5d3;
}

main section.news div dt {
  padding-bottom: 10px;
  font-family: "Miltonian Tattoo", serif;
  font-size: 17px;
}

main section.news div dd {
  padding-left: 55px;
  font-size: 16px;
  line-height: 25px;
}

/* div.title共通設定 */
main hgroup h2 {
  margin-bottom: 10px;
}

main hgroup p {
  margin-bottom: 19px;
  text-align: center;
  color: #213b60;
  font-size: 25px;
}

/* section共通の薄ピンクの枠の設定 */
main section.event div.day,
div.free,
div.place,
div.access,
section.mugcup div {
  padding: 40px 80px;
  display: flex;
  background-color: #f4e5d3;
  border-radius: 10px;
}

main section.event div h3 {
  color: #4f4141;
  font-size: 20px;
}

main section.event div {
  margin-bottom: 20px;
}

main section.event div.day {
  column-gap: 45px;
}

main section.event div.day p:first-child {
  margin-bottom: 20px;
  color: #213b60;
  font-weight: bold;
  font-size: 30px;
}

main section.event div.day p:nth-child(2) {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

main section.event div.day p:nth-child(3) {
  line-height: 30px;
}

main section.event div.free {
  column-gap: 250px;
}

main section.event div.free p,
div.place p,
div.access p {
  color: #213b60;
  font-size: 20px;
}

main section.event div.free p {
  font-weight: bold;
  font-size: 28px;
}

main section.event div.place {
  column-gap: 116px;
}

main section.event div.access {
  column-gap: 73px;
}

main section.event div.access p.noflex {
  display: block;
}

main div.market {
  margin-bottom: 90px;
  padding: 125px 0;
  background-image: url(../img/index.img/ChristmasMarket.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

main div.market section.aboutxmas {
  margin-bottom: 0;
}

main div.market section.aboutxmas h2 {
  font-weight: bold;
}

main section.market div.aboutxmas p {
  line-height: 30px;
}

main section.mugcup hgroup p {
  font-family: "Kaisei Opti";
}

main section.mugcup p {
  text-align: center;
}

main section.mugcup div.magcupprice {
  margin: 20px 0;
  background-color: var(--bunblue);
}

main section.mugcup div.magcupprice p {
  font-family: "Miltonian Tattoo";
  font-size: 35px;
  color: #fffdf5;
}

main div.magcupprice p span {
  font-family: "Kaisei Opti";
  font-size: 24px;
}

/* アイコン設定 */
/* main div.magcupprice p::before {
  content: "";
  background-image: url(../img/index.img/cupicon1.svg), url(../img/index.img/cupicon2.svg);
  background-position: top 27px left 37px, top 27px right 352px;
  color: #fffdf5;
} */
