@import url(common.css);
/* ーーーーーー
下層ページ共通
ーーーーーーー */
:root {
  --hoverblue: #1d3387;
}
.futoji {
  font-weight: bold;
}
/* ナブ下兼本編上余白 */
main {
  /* padding-top: 70px; */
  padding-top: 90px;
  @media (max-width: 767px) {
    padding-top: 40px;
  }
}
/* ヘッダー */
header {
  padding: 15px 0 15px 0;
  background-color: var(--mainred);
}
/* ノートPC@media (max-width: 1199px)
スマホ横@media (max-width: 767px)
コピペセット */
/* 1199>738 */
/* 767>360; */
/* ーー
共通幅
ーーー */

/* 外身 */
/* .container,
.backbeige {
  @media (max-width: 1199px) {
    width: 738px;
    @media (max-width: 767px) {
      width: 360px;
    }
  }
} */

/* ーーーー
各ブロック
ーーーーー */
/* 外身 */
.backbeige {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 50px;
  padding: 60px 50px 78px 50px;
  @media (max-width: 757px) {
    padding: 60px 10px 60px 10px;
  }
}
hgroup {
  margin-bottom: 19px;
}
/* 中身 */
.koibackbeige {
  margin-bottom: 38px;
  padding: 30px 49px 41px 50px;
  @media (max-width: 757px) {
    padding: 20px 8px 15px 8px;
  }
}
h2.blue,
.mb20 {
  margin-bottom: 20px;
  @media (max-width: 757px) {
    margin-bottom: 15px;
  }
}
h2.blue {
  text-align: center;
  color: var(--bunblue);
  font-size: 25px;
}
br.born757 {
  display: none;
  @media (max-width: 757px) {
    display: inline;
  }
}
/* 外野 */
p.homebutton {
  text-align: center;
  & a {
    padding: 18px 56px 18px 58px;
    border: 3px solid #c3a80d;
    border-radius: 10px;
    font-family: "Kaisei Opti";
    font-size: 20px;
    color: var(--backbeige);
    background-color: var(--koiblue);
  }
  & :hover {
    background-color: var(--hoverblue);
  }
}

/* ーーーーーーーーーーー
  common.css追加！！！
  ーーーーーーーーーーーーー */

/* 見出しの設定 */
/* .midashired {
    font-size: 25px;
  }？ */

/* 見出し下のタイトル設定 */
/* hgroup p {
    font-size: 20px;
  }？ */

/* 以下全部おｋ */
